*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
#lightningImg{
    display: none;
}

#lightningAnimation{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}