*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    gap: 0;
}
#Rick{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55% , -50%);
    z-index: 2;
    animation: rickMovement 2s linear infinite;
}
.container{
    min-height: 100vh;
    width: 25%;
    background-color: black;
    filter: blur(60px);
    display: flex;
    flex-direction: column;
}
.circle{
    border-radius: 30rem;
    max-width: 20rem;
    height: 20rem;
    opacity: .5;
}
.light{
    clip-path: polygon(0 49%, 100% 49%, 100% 55%, 0 53%);
    width: 45%;
    height: 15rem;
}
.lightOne{
    animation: lightOnOff 5s ease-in-out infinite;
}
.lightTwo{
    animation: lightOnOff 4s 2s ease-in-out infinite;
}
.lightThree{
    animation: lightOnOff 6s 3s ease-in-out infinite;
}
.lightFour{
    animation: lightOnOff 2s 4s ease-in-out infinite;
}
.red{
    background-color: red;
}
.green{
    background-color:#00ff97;
}
.blue{
    background-color:#00fcff;
}
@keyframes leftLightMovement{
    0%{
        clip-path: polygon(0 49%, 100% 49%, 100% 55%, 0 53%);
    }
    25%{
        clip-path: polygon(0 49%, 100% 0, 100% 11%, 0 53%);
    }
    50%{
        clip-path: polygon(0 49%, 100% 49%, 100% 55%, 0 53%);
    }
    75%{
        clip-path: polygon(0 49%, 100% 83%, 100% 100%, 0 53%);
    }
    100%{
        clip-path: polygon(0 49%, 100% 49%, 100% 55%, 0 53%);
    }
}
@keyframes lightOnOff {
    0%{
        opacity: .5;
    }
    20%{
        opacity: .8;
    }
    40%{
        opacity: .4;
    }
    60%{
        opacity: 1;
    }
    80%{
        opacity: .7;
    }
}
@keyframes rickMovement{
    0%{
        opacity: .8;
        transform: translate(-55%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-55%,-50%) rotate(-5deg);
    }
    50%{
        opacity: 1;
        transform: translate(-55%,-50%) rotate(0deg);
    }
    75%{
        transform: translate(-55%,-50%) rotate(5deg);
    }
    100%{
        opacity: .8;
        transform: translate(-55%,-50%) rotate(0deg);
    }
}