*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#slimeCanvas{
    background-color: black;
    display: block;
    filter: blur(20px) contrast(40);
}
.portal{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0) scale(1);
    width: 40rem;
    height: 40rem;
    animation: portalMovement 6s linear infinite;
}

@keyframes portalMovement{
    0%{
        transform: translate(-50%,-50%) rotate(0) scale(1);
    }
    25%{
        transform: translate(-50%,-50%) rotate(90deg) scale(1.1);
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg) scale(1);
    }
    75%{
        transform: translate(-50%,-50%) rotate(270deg) scale(1.1);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg) scale(1);
    }

}
